{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        <fieldset class="form-group">
            <div class="form-group"
                 {{ form.course.label(class="form-control-label") }}
                <select name="Course">
                    {% for course in courses %}
                        {% if selected_course == course %}
                        <option value="{{ course }}" selected='selected'>{{ course }}</option>
                        {% else %}
                        <option value="{{ course }}">{{ course }}</option>
                        {% endif %}
                    {% endfor%}
                </select>
            </div>

            <div class="form-group"
                 {{ form.amount.label(class="form-control-label") }}
             <select name="Amount">
                    {% for value in amount %}
                    <option value="{{value}}" SELECTED>{{value}}</option>
                    {% endfor%}
            </select>
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>

        <!--<a href="{{ url_for('return_files') }}" target="blank"
        <button class="btn btn-outline-info">Download!</button>
    </a>-->
    </form>
</div>
{% endblock content %}
