{% extends "layout.html" %}
{% block content %}
<h1>Integration</h1>

<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group"
                 {{ form.course.label(class="form-control-label") }}
                <select name="Course">
                    {% for course in courses %}
                        {% if selected_course == course %}
                        <option value="{{ course }}" selected='selected'>{{ course }}</option>
                        {% else %}
                        <option value="{{ course }}">{{ course }}</option>
                        {% endif %}
                    {% endfor%}
                </select>
            </div>
            <div class="form-group">
                {{ form.pdf.label() }}
                {{ form.pdf(class="form-control-file")}}
                {% if form.pdf.errors %}
                {% for error in form.pdf.errors %}
                <span class="text-danger">{{ error }}</span></br>
                {% endfor %}
                {% endif%}
            </div>
            <div class="form-group">
                {{ form.topic_positions.label(class="form-control-label") }}
                {% if form.topic_positions.errors %}
                {{ form.topic_positions(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.topic_positions.errors %}
                    <span class="text-danger">>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.topic_positions(class="form-control form-control-lg") }}
                {% endif %}
                {% if validation==False%}
                <span class="text-danger">Incorrect Format for listing page numbers!</span>
                {% endif%}
                {% if page_number_exceeds==True%}
                <span class="text-danger">Page Number given exceeds number of pages in pdf</span>
                {% endif%}
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Example: 3, 7, 10
                    </small>
                </div>


</fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}
