{% extends "layout.html" %}
{% block content %}
<form action="/action_page.php">
    <select name="Courses">
        <option value="Signals and Communications 3">Signals and Communications 3</option>
        <option value="Signals and Communications 2">Signals and Communications 2</option>
        <option value="Engineering Mathematics 2a">Engineering Mathematics 2a</option>
        <option value="Engineering Mathematics 2b">Engineering Mathematics 2b</option>
    </select>
    <input type="submit" value="Submit">
</form>

<div class="content-section">
    <a href="{{ url_for('return_files') }}" target="blank"
        <button class="btn btn-outline-info">Download!</button>
    </a>
</div>
{% endblock content %}