<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Ahmedur Rahman Shovon">
    <title>Dropdown Example</title>
</head>
<body>
    <p>Select a new car from the list.</p>
    <form id="form1" action="/download" method="POST">
        <select name="Course">
            {% for course in courses %}
            {% if selected_course == course %}
            <option value="{{ course }}" selected='selected'>{{ course }}</option>
            {% else %}
            <option value="{{ course }}">{{ course }}</option>
            {% endif %}
            {% endfor%}
        </select>
        <input type="submit" value="Submit">
    </form>
    <p>When you select a new car, a function is triggered which outputs the value of the selected car.</p>
    <div id="result">
        {% if car_brand is defined %}
        You have selected: {{ car_brand }}
        {% endif %}
    </div>
</body>
</html>
