{% extends "layout.html" %}
{% block content %}
<h1>About Page</h1>

<p>
    {After you have selected your course and the amount of topics you want}
    <br>
    PowerPoint:
    <br>
    To insert the newly dowloaded PDF topics slides into your already pre-existing PowerPoint slide simply
    <br>
    <br>
    1) Extract and then open the Topic PDF you would like to add, in Adobe Acrobat Reader
    <br>
    2) At the top right menu bar under <b>view</b> select <b>fullscreen</b>
    <br>
    &ensp;a) If this <b>fullscreen</b> option is un-highlightable (is not available) then make sure you are in <i>edit mode</i>
    <br>
    3) Open up your slides, that you would like to insert the topics into, using PowerPoint
    <br>
    4) Create a new slide and then click <b>insert</b>, located at the top toolbar
    <br>
    5) Click on <b>screenshot</b>
    <br>
    6) Select the Adobe Acrobat Reader as your source of screenshot (image with the topic number)
    <br>
    7) Repeat steps 1-6 until you have successfully added all the PDF's into your topic slides

</p>

{% endblock content %}
